>>> .mat-form-field{
  text-align: center;
  display: inline-block;
  position: absolute;
  float: right;
  direction: rtl;
}
>>> .mat-radio-button{
  // text-align: center;
  display: inline-block;
  position: absolute;
  float: left;
  direction: rtl;
}
input{
  // text-align: center;
  display: inline-block;
  float: right;
}
