<mat-radio-group aria-label="Select an option">
  <p></p>
  <mat-radio-button
    color="primary"
    value="new"
    [(ngModel)]="new_pro"
    name="new"
    ngDefaultControl
    >הוסף מוצר שלא קיים במערכת</mat-radio-button
  >
  <p></p>
  <mat-radio-button
    color="primary"
    value="old"
    [(ngModel)]="new_pro"
    name="old"
    ngDefaultControl
    >בחר מוצר קיים</mat-radio-button
  >
</mat-radio-group>
<p></p>
<form name="x">
  <!-- <mat-form-field appearance="outline" *ngIf="new_pro === 'new'">
    <mat-select
      placeholder="בחר קטגורית מוצר"
      [(ngModel)]="childCcodeP"
      [ngModelOptions]="{ standalone: true }"
    >
      <mat-option
        *ngFor="let category of parentCategories"
        [value]="category.code"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <p></p>
  <mat-form-field appearance="outline" *ngIf="new_pro === 'new'">
    <mat-select
      placeholder="בחר קטגורית מוצר"
      [(ngModel)]="childCcodeC"
      [ngModelOptions]="{ standalone: true }"
    >
      <mat-option
        *ngFor="let category of parentCategories"
        [value]="category.code"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="outline" *ngIf="new_pro === 'new'">
    <input
      placeholder="שם מוצר"
      matInput
      #last
      [(ngModel)]="productNewName"
      [ngModelOptions]="{ standalone: true }"
    />
    <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="outline" *ngIf="new_pro === 'old'">
    <!-- <mat-label>בחר מוצר</mat-label> -->
    <mat-select
      placeholder="בחר מוצר"
      [(ngModel)]="productCcode"
      [ngModelOptions]="{ standalone: true }"
    >
      <mat-option *ngFor="let product of productList" [value]="product.code">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="מחיר המוצר"
      type="number"
      class="example-right-align"
      [(ngModel)]="price"
      [ngModelOptions]="{ standalone: true }"
    />
    <span matPrefix>₪&nbsp;</span>
  </mat-form-field>
  <span></span>

  <p></p>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="זמן הכנת המוצר (דקות)"
      type="number"
      [(ngModel)]="prepareTime"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <p></p>

  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="addProduct(new_pro === 'new')"
  >
    הוספה
  </button>
</form>
