<mat-card-header>
  <mat-card-title>הרשמה</mat-card-title>
</mat-card-header>
<mat-card-content dir="rtl">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="שם משתמש"
      [(ngModel)]="username"
      name="username"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="סיסמא"
      [(ngModel)]="password"
      type="password"
      name="password"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      placeholder="הקש שוב סיסמא"
      matInput
      [(ngModel)]="password1"
      type="password"
      name="password"
      required
    />
  </mat-form-field>
  <mat-checkbox class="example-section" [(ngModel)]="shopOwner"
    >יש לי חנות</mat-checkbox
  >
  <mat-form-field appearance="outline" *ngIf="shopOwner === true">
    <input
      placeholder="קוד חנות"
      matInput
      [(ngModel)]="shopId"
      type="string"
      name="shopId"
      required
    />
  </mat-form-field>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card-content>

<mat-card-actions dir="rtl">
  <button
    mat-raised-button
    (click)="login()"
    color="primary"
    [disabled]="check_equals()"
  >
    כניסה
  </button>
</mat-card-actions>
