<p>show-shops works!</p>
<mat-accordion>
  <mat-expansion-panel *ngFor="let shop of shopsList" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{shop.name}}
      </mat-panel-title>
      <mat-panel-description>
          <mat-chip-list aria-label="Fish selection">
              <mat-chip (click)="share_and_order(shop.code)" [color]="buttonColor" (click)="buttonColor = 'warn'">Add to my shops</mat-chip>
          </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>location: {{shop.location}} , num of customers: {{shop.numOfCustomer}} , account number: {{shop.accountNumber}}</p>
  </mat-expansion-panel>
</mat-accordion>
<!-- chnage 2 to chosen shop -->

