.profileImg {
  width: 498px;
  height: 223px;
  background: url(../../../assets/פרופיל.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 25px;
  margin: auto;
  right: 0;
  left: 0;
}
.space {
  height: 52px;
}
