<mat-card-header>
  <mat-card-title>כניסה</mat-card-title>
</mat-card-header>
<form>
  <mat-card-content>
    <!-- <div class="profileImg"></div> -->
    <div class="displ">
      <mat-icon matSuffix class="profileImg"> account_box</mat-icon>
    </div>
    <div class="space"></div>
    <div dir="rtl">
      <mat-form-field dir="rtl" appearance="outline">
        <input
          autocomplete="new-password"
          matInput
          placeholder="שם משתמש"
          [(ngModel)]="username"
          name="username"
          required
        />
        <mat-icon matSuffix> account_circle</mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        name="password"
        placeholder="סיסמא"
        required
      />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="newUser === true" appearance="outline">
      <input
        matInput
        [(ngModel)]="password1"
        type="password"
        name="password"
        placeholder="הקש שוב סיסמא"
        required
      />
    </mat-form-field>
    <mat-checkbox *ngIf="newUser === true">יש לי חנות</mat-checkbox>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</form>
<mat-card-actions>
  <button
    mat-raised-button
    (click)="login()"
    color="primary"
    [disabled]="check_equals()"
  >
    כניסה
  </button>
</mat-card-actions>
