<!-- <img src=".\.\.\assets\הכל.jpg" style="width: 100%; height: 100%;"> -->
<!-- <img  [attr.src]="src$ | async"> -->
<!-- <body id="background">
  <script>
  $(function () {
      var imageArray = ['הכל.jpg', '2.jpg']

  // on page load
  $('#background').css({ 'background-image': 'url(.\.\.\assets' + imageArray[Math.floor(Math.random() * imageArray.length)] + ')', 'background-size': 'cover' })

  // every 10 seconds change to random image name in the array
  setInterval(function () {
      $('#background').css({ 'background-image': 'url(.\.\.\assets' + imageArray[Math.floor(Math.random() * imageArray.length)] + ')', 'background-size': 'cover' })
      }, 10000);
  });
  </script>
  </body> -->
  <img src="{{activeImage}}" class="img-fluid img-file img-center-style" style="width: 100%; height: 100%;">
