.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 0 10px;
}
mat-radio-button {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 0 10px;
}
mat-raised-button{
  color: black !important;
}
