<!-- <div *ngIf="showReminder" class="reminder">יש לך הזמנה ממתינה</div> -->
<div class="grid" *ngIf="!showMainButton">
  <button
    class="diff-btn"
    mat-button
    color="primary"
    (click)="[navi('addShop/products'), (showMainButton = true)]"
    mat-button
  >
    השהה/הפעל הזמנת מוצרים
  </button>
  <button
    class="diff-btn"
    mat-button
    color="primary"
    (click)="[navi('addShop/addProducts'), (showMainButton = true)]"
    mat-button
  >
    הוסף מוצר לחנות
  </button>
  <button
    class="diff-btn"
    mat-button
    color="primary"
    (click)="[navi('addShop/addCategory'), (showMainButton = true)]"
    mat-button
  >
    הוסף קטגוריה
  </button>
  <button
    class="diff-btn"
    mat-button
    color="primary"
    (click)="[navi('addShop/manageShop'), (showMainButton = true)]"
    mat-button
  >
    השהה/הפעל חנות
  </button>
  <!-- <button class="diff-btn"
      mat-button
      color="primary"
      (click)="[print(), showMainButton = true]"
      mat-button
    >
      מחק מוצר מחנות
    </button> -->
  <button
    class="diff-btn"
    mat-button
    color="primary"
    (click)="[print(), (showMainButton = true)]"
  >
    צפה בהזמנות
  </button>
</div>
<div class="example-sidenav-content" *ngIf="showMainButton">
  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="[navi('addShop/orders'), (showMainButton = false)]"
  >
    ניהול חנות
    <mat-icon matSuffix> shop</mat-icon>
  </button>
  <br />
  <router-outlet></router-outlet>
</div>
