<mat-drawer-container color="primary" autosize>
  <mat-drawer #drawer mode="side">
    <button
      mat-raised-button
      color="primary"
      (click)="[navi('addShop/products'), drawer.toggle()]"
      mat-raised-button
    >
      השהה/הפעל הזמנת מוצרים
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="[navi('addShop/addProducts'), drawer.toggle()]"
      mat-raised-button
    >
      הוסף מוצר לחנות
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="[navi('addShop/addCategory'), drawer.toggle()]"
      mat-raised-button
    >
      הוסף קטגוריה
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="[navi('addShop/manageShop'), drawer.toggle()]"
      mat-raised-button
    >
      השהה/הפעל חנות
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="[print(), drawer.toggle()]"
      mat-raised-button
    >
      מחק מוצר מחנות
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="[print(), drawer.toggle()]"
      mat-raised-button
    >
      צפה בהזמנות
    </button>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button
      mat-raised-button
      color="primary"
      type="button"
      mat-button
      (click)="[navi('addShop/orders'), drawer.toggle()]"
    >
      ניהול חנות
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
