<!-- <app-show-shops></app-show-shops> -->
<div class="wrapper-all">
  <!-- <div *ngIf="showReminder" class="reminder">יש לך הזמנה ממתינה</div> -->
  <div class="images" [routerLink]="['/']"></div>
  <div class="content-body">
    <mat-card>
      <!-- <mat-toolbar color="primary">
        <mat-toolbar-row> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/about']"
          style="color: rgb(0, 0, 0);"
        >
          אודות
        </button>

        <button
          mat-menu-item
          [routerLink]="['/register']"
          style="color: rgb(0, 0, 0);"
        >
          הרשם
        </button>

        <!-- <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
      </mat-menu>
      <!-- </mat-toolbar-row>
      </mat-toolbar> -->
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
