// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

.images {
  width: 100%;
  height: 224px;
  background: url(../assets/Logo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -83px;
}

.content-body {
  background: "black";
}

.wrapper-all {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
