.images {
  width: 100%;
  height: 224px;
  background: url(../assets/Logo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -83px;
}
.content-body {
  background: "black";
}
.wrapper-all {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.reminder {
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: 200px;
  background: #ff3d00;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
}
