<mat-form-field appearance="outline">
  <!-- <mat-label style="text-align: right" name="shopName" required
    >שם החנות</mat-label -->
  <!-- > -->
  <input matInput placeholder="הכנס שם חנות" [(ngModel)]="shopName" />
</mat-form-field>
<mat-form-field appearance="outline">
  <!-- <mat-label style="text-align: right" name="shopName" required
    >מספר חשבון</mat-label
  > -->
  <input
    matInput
    placeholder="הכנס מס' חשבון בעל חנות"
    [(ngModel)]="accountNumber"
  />
</mat-form-field>
<!-- <p dir="rtl">
  <mat-checkbox class="example-section" [(ngModel)]="shipment"
    >שירות משלוחים</mat-checkbox
  >
</p> -->

<mat-form-field [appearance]="appearance.OUTLINE">
  <input
    matInput
    placeholder="כתובת"
    matGoogleMapsAutocomplete
    [country]="il"
    invalidErrorText="כתובת לא חוקית"
    (onAutocompleteSelected)="onAutocompleteSelected($event)"
    (onLocationSelected)="onOriginLocationSelected($event)"
  />
  <mat-icon matSuffix> location_on</mat-icon>
</mat-form-field>

<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [scrollwheel]="true"
  [zoom]="zoom"
>
  <agm-marker [latitude]="latitude" [longitude]="longitude"> </agm-marker>
</agm-map>
<br /><br />
<button dir="rtl" mat-raised-button color="primary" (click)="addShop()">
  שמור חנות
</button>
