<div *ngIf="!shopsProductService.orderCode">
  <mat-accordion>
    <mat-expansion-panel
      color="primary"
      *ngFor="let product of userProduct"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header color="primary">
        <mat-panel-title color="primary">
          {{ product.name }}
        </mat-panel-title>
        <mat-panel-description color="primary">
          <mat-chip-list color="primary" aria-label="Fish selection">
            <mat-chip
              color="primary"
              (click)="remove(product)"
              [color]="buttonColor"
              (click)="buttonColor = 'warn'"
              >הסר פריט מהזמנה</mat-chip
            >
          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>מחיר {{ product.price }}</p>
    </mat-expansion-panel>
    <br /><br />
    <mat-form-field>
      <mat-label>שעת איסוף</mat-label>
      <input
        placeholder="שעת איסוף"
        type="text"
        matInput
        [(ngModel)]="selectedTime"
        (click)="open()"
      />
    </mat-form-field>
    <!-- <input [ngxTimepicker]="picker" /> -->
    <!-- <ngx-material-timepicker #picker></ngx-material-timepicker> -->
    <p>זמן הכנה משוער : {{ now | date: "h:mm a" }}</p>
  </mat-accordion>

  <mat-form-field id="hy">
    <mat-label>מייל לעדכון סטטוס ההזמנה</mat-label>
    <input
      matInput
      placeholder="מייל לעדכון סטטוס ההזמנה"
      type="email"
      class="example-right-align"
      [(ngModel)]="email"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <button mat-raised-button (click)="sendToShop()" color="primary">הזמן</button>
</div>
<mat-card
  *ngIf="shopsProductService.orderCode"
  id="mat"
  style="color: grey; font-size: x-large; text-align: center;"
>
  ההזמנה נשלחה בהצלחה
  <br />
  <br />
  <br />
  <div style="color: #ff3d00; font-size:large;">
    מס' הזמנה: {{ shopsProductService.orderCode }}
  </div>
</mat-card>
