<div>
  <mat-form-field [appearance]="appearance.OUTLINE">
    <input
      matInput
      placeholder="כתובת מקור"
      matGoogleMapsAutocomplete
      [country]="il"
      invalidErrorText="כתובת לא חוקית"
      (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onOriginLocationSelected($event)"
    />
  </mat-form-field>
</div>
<div>
  <mat-form-field [appearance]="appearance.OUTLINE">
    <input
      matInput
      placeholder="כתובת יעד"
      matGoogleMapsAutocomplete
      [country]="il"
      invalidErrorText="כתובת לא חוקית"
      (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onDestinationLocationSelected($event)"
    />
  </mat-form-field>
</div>
<div>
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="true"
    [zoom]="zoom"
  >
    <agm-marker
      [label]="{
        text: s.name,
        fontSize: '10px',
        fontWeight: 'bold',
        padding: '30 20 0 0'
      }"
      *ngFor="let s of shops"
      [latitude]="s.latitude"
      [longitude]="s.longitude"
      [iconUrl]="{
        url: '../../../assets/סמל_1.jpg',
        scaledSize: { height: 35, width: 40 }
      }"
    >
      <!-- [label]="{ text: s.name, color: 'white' }" -->
      <!-- labelOrigin: { x: 22.5, y: 20 }, -->
      <!-- [disableAutoPan]="true"  -->
      <agm-info-window>
        <div>
          {{ s.name }}
        </div>
        <div>
          {{ s.location }}
        </div>
      </agm-info-window>
    </agm-marker>
    <agm-direction
      *ngIf="origin && destination"
      [origin]="origin"
      [destination]="destination"
    ></agm-direction>
    <agm-circle
      *ngIf="origin && destination"
      [latitude]="latitude"
      [longitude]="longitude"
      [clickable]="false"
      [draggable]="true"
      [editable]="true"
      [fillColor]="'green'"
      [radius]="350"
    >
    </agm-circle>
  </agm-map>
</div>

<br /><br />
<button mat-raised-button color="primary" (click)="selectItems()">
  המשך להזמנה
</button>
