<div>
  <mat-form-field [appearance]="appearance.OUTLINE">
    <input
      matInput
      placeholder="כתובת מקור"
      matGoogleMapsAutocomplete
      [country]="il"
      invalidErrorText="כתובת לא חוקית"
      (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onOriginLocationSelected($event)"
    />
  </mat-form-field>
</div>
<!-- <mat-google-maps-autocomplete
    [appearance]="appearance.OUTLINE"
    (onAutocompleteSelected)="onAutocompleteSelected($event)"
    (onLocationSelected)="onOriginLocationSelected($event)"
    placeholderText=":כתובת מקור"
    requiredErrorText="יש לבחור כתובת"
    invalidErrorText="כתובת לא חוקית"
    [country]="il"
  >
  </mat-google-maps-autocomplete>-->
<div>
  <mat-form-field [appearance]="appearance.OUTLINE">
    <input
      matInput
      placeholder="כתובת יעד"
      matGoogleMapsAutocomplete
      [country]="il"
      invalidErrorText="כתובת לא חוקית"
      (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onDestinationLocationSelected($event)"
    />
  </mat-form-field>
</div>

<div>
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="true"
    [zoom]="zoom"
  >
    <agm-marker
      [label]="{
        color: 'black',
        fontWeight: 'bold',
        text: 'אני כאן'
      }"
      [latitude]="latitude"
      [longitude]="longitude"
    >
    </agm-marker>
    <agm-marker
      *ngFor="let s of shops"
      [label]="s.name"
      [latitude]="s.latitude"
      [longitude]="s.longitude"
    >
      <agm-info-window [disableAutoPan]="true">WOW</agm-info-window>
    </agm-marker>
    <agm-direction
      *ngIf="origin && destination"
      [origin]="origin"
      [destination]="destination"
    ></agm-direction>
    <agm-circle
      *ngIf="origin && destination"
      [latitude]="latitude"
      [longitude]="longitude"
      [clickable]="false"
      [draggable]="true"
      [editable]="true"
      [fillColor]="'green'"
      [radius]="350"
    >
    </agm-circle>
  </agm-map>
</div>



<br /><br />
<button mat-raised-button color="primary" (click)="selectItems()">
  המשך להזמנה
</button>

